@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.bannerHolder {
   background-color: #1F1F1F;
   width: 100dvw;
   height: 28svh;
   overflow: hidden;
   display: flex;
   justify-content: flex-end;
   // padding-right: 1.25rem;

   .imageBg {
      background-color: #DC2626;
      width: 100svw;
      height: 35svh;
      border-radius: 52%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      left: 0.5dvw;
      bottom: 4svh;

      img {
         padding-left: 20dvw;
         width: 50dvw;
         height: 40svw;
      }
   }

   .textBg {
      color: white;
      font-family: Faustina;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding: 0 4svw;

      h1 {
         font-size: 3.2rem;
         font-weight: 900;
         -webkit-text-stroke: 1px #555;
         margin-left: 0;
      }

      h2 {
         font-size: 2.5rem;
         font-weight: 900;
         -webkit-text-stroke: 1px #555;
         margin-left: 0;
      }

      h3 {
         font-family: Dancing Script;
         font-size: 9svw;
         font-weight: 700;
         margin-left: 0;
      }
   }
}